<div class="app-body" >
  <img src="assets/img/brand/bg_iot.webp" style="width: 100%;height: 100%;position: fixed;top: 0;right: 0;bottom: 0;left: 0;object-fit: cover;opacity: 0.722" />
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body" style="display: flex;justify-content: center;align-items: center;">
                <div>
                  <img src="assets/img/brand/logo.jpg" style="width: 100%" />
                  <div class="text-center">
                    <button type="button" class="btn btn-link px-0">XLangkah Lebih Maju</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white py-5 d-md-down-none" style="width:44%;background-color: #133184">
              <div class="card-body text-center">
                <div>
                  <h2>Hello</h2>
                  <h5>Welcome to BAU Automation</h5>
                  <p>because life is to short to do manual testing</p>
                  <button type="button" class="btn btn-success active mt-3" [routerLink]="['/dashboard']">Authentication</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
